body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    margin: 0;
}

h1{
    margin:0;
    margin-bottom: 15px;
    border-left:4px red solid;
    background-color:#d6d6d6;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:15px;
    font-size:20px;
    width: 100%;
}

h3{
    border-bottom: solid 4px #c4c4c4;
}

.confirm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    background-color:#f1f1f1;
    border:3px #ebebeb solid;
    border-radius:10px;
    padding: 20px;
    width: 500px;

}

#button1,#check{
    border:1px solid lightgray;
    padding:4px 10px;
    color:#ffffff;
    background-color:#5a9ddb;
    border-radius:5px;
    border-bottom:solid 2px gray;
}

#button2{
    border:1px solid lightgray;
    padding:4px 10px;
    color:white;
    background-color:darkorange;
    border-radius:5px;
    border-bottom:2px solid #E08600;
}

a{
    text-decoration: none;
    color: #ffffff;
}

header{
}

#menu-bar{
    display: flex;
    align-items: center;
    width:auto;
    height: 50px;
    background-color: #000000;
}

#logo{
    padding-left: 20px;
}

#menu{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding-left: 50px;
    height: 100%;
}

#menu li{
    display: flex;
    align-items: center;
    color: #ffffff;
    list-style: none;
    padding:0;
    height: 100%;
}

#menu a{
    display: flex;
    align-items: center;
    width: auto;
    padding: 0 20px;
    height: 100%;
}

#menu a:hover{
    background-color: #a7a7a7;
    color: #000000;
    transition: 0.25s;
}


main{
    display: flex;
    justify-content: center;
    margin:30px 0;
    height: auto;
}

#main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: auto;
    margin: 0;
}

#main-container-row{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: auto;
    margin: 0;
}

.item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 15px;
    width: 100%;
    margin-right: 0;
}

.text{
    padding: 0;
    width: 50%;
}

label{
    width: 50%;
}

label.radio{
    width: 50%;
}

.space{
    margin-left: 30px;
}

#button-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.post_button{
    margin: 0 30px;
}

#complete{
    font-weight: bold;
    font-size: 24px;
    margin: 200px 0;
}

footer{
    width: auto;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
}

#main-left{
    width: 70%;
    height: 100%;
    border: solid 2px #6d97e4;
}

#article{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#article-day{
    margin: 10px 0;
}

#article-main{
    margin: 10px 0;
}

.bxslider{
    margin:0px;
}

.bx-wrapper {
    position: relative;
}

.bx-wrapper img {
    width:100%;
}

#main-right{
    width: 30%;
    height: 100%;
    border: solid 2px #e4756d;
}

#article-img{
    height: 40%;
}

#gallary{
    height: 30%;
    background-color: #c5c5c5;
}

#img-total{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.img-box{
    width: 21%;
    margin: 2%;
}
#img-total img{
    width: 100%;
}

#side-menu{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.side-list{
    padding-left: 20px;
    margin: 0;
    list-style: none;
}

p#error{
    color: #df3434;
    font-size: 20px;
    margin: 200px 0;
}

span{
    color: #df3434;
    font-size: 14px;
    margin-right: auto;
}